@{
    //Definindo o layout que será utilizado na página
    Layout = "_Layout";
}
<div class="card">    
    <div class="card-body">
        <h4 class="card-title">Estados</h4>
        <a name="btnCadastro" 
        id="btnCadastro" class="btn btn-primary" 
        href="/Estado/Cadastro"
        role="button">Cadastrar</a>
    </div>
</div>


